out
dist
node_modules
.vscode-test/
*.vsix

# Ignore all .vscode content
.vscode/*

# But DO commit these team-shared files
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json